.titulo-centrado {
    position: absolute;
    top: 20%;
    left: 35%;
    font-family: "Playwrite CZ", cursive;
    font-size: 500%;      
    font-weight: 350;      
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 10px rgb(0, 0, 0);  
}

.Flecha {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 5%;         
    cursor: pointer;    
    transition: transform 0.2s ease; 
}

.Flecha:hover {
    transform: scale(1.1); 
}
#Boton{
    width: 65px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 25%;
    cursor: pointer;
    position: absolute;
    top: 53%;
    left: 45%;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);  
    }
    #Boton:hover {
    width: 75px;
    height: 30px;
    top: 52.5%;
    left: 44.5%;
}

.elementosCreados {
    position: absolute;
    width: 180px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: 0.3s;
}

#zonaProhibida {
    position: absolute;
    top: 30%;     
    left: 32%;
    width: 30%;   
    height: 30%;  
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
}